:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-accent: hsl(248, 32%, 49%);
  --color-neutral-dark: hsl(249, 10%, 26%);
  --color-neutral-gray: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background: var(--color-primary-red);
  background-image: url("/src/images/bg-intro-mobile.png");
  padding: 50px 15px 30px 15px;
}
@media screen and (min-width: 750px) {
  body {
    background-image: url("/src/images/bg-intro-desktop.png");
  }
}
.container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .container {
    flex-direction: row;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}

h1,
p {
  color: #fff;
}
h1 {
  margin-bottom: 1rem;
  line-height: 1.1;
}
input,
button {
  outline: 0;
  border-radius: 5px;
  padding: 20px;
}
a {
  text-decoration: none;
}
.link {
  color: hsl(0, 100%, 74%);
}
.accent {
  background-color: var(--color-accent);
  color: #fff;
  margin-bottom: 50px;
  font-weight: 400;
}
.bold {
  font-weight: 600;
}
.centered {
  text-align: center;
}
.shadow {
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  width: 400px;
  max-width: 100%;
}
.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.form-control i.fa {
  position: absolute;
  top: 15px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  color: rgb(248, 106, 106);
  font-size: 1rem;
}

.form-control .input,
.form-control .button {
  padding: 0px;
  border-radius: 5px;
  outline: 0;
  display: block;
  height: 50px;
}
.form-control .input {
  width: 100%;
  padding-left: 20px;
  font-weight: 500;
  border: 1px solid rgba(204, 204, 204, 0.911);
  color: hsl(249, 10%, 26%);
}
.signup-form p {
  font-size: 1rem;
  color: rgb(148, 148, 148);
}

.btn-submit {
  background-color: var(--color-primary-green);
  color: #fff;
  border: 0;
  text-transform: uppercase;
  box-shadow: 0px 3px 0px 0px hsl(154deg 55% 44%);
}
.btn-submit:active {
  background-color: #a2cab4;
}
.form-control.success input {
  border: 1px solid rgb(148, 148, 148);
}
.form-control.error input {
  border: 1px solid rgb(248, 106, 106);
  color: rgb(248, 106, 106);
}
.form-control.error i.fa {
  visibility: visible;
  color: rgb(248, 106, 106);
}
.form-control.error small {
  visibility: visible;
}

.input:active {
  border: 1px solid hsl(246, 25%, 77%);
}
